<launch>
  <node pkg="pimouse_slam" name="keyboard_cmd_vel" type="keyboard_cmd_vel.py" required="true" />
  <node pkg="pimouse_slam" name="motors" type="motors.py" required="true" />

  <node pkg="urg_node" name="urg_node" type="urg_node" required="true" >
        <param name="frame_id" value="base_link"/>

  </node>



<!-- PC SIDE -->
  <arg name="scan_topic" default="/scan" />
  <arg name="odom_topic" default="/odom" />

  <node pkg="tf" type="static_transform_publisher" name="imu_link_connect" args="0 0 0 0 0 0 /imu_link /base_imu_link 100"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find raspimouse_cartographer)/config/config.rviz"/>

  <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/backpack_2d.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find raspimouse_cartographer)/config
          -configuration_basename backpack_2d.lua"
      output="screen">
    <remap from="echoes" to="horizontal_laser_2d" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

  <node name="trajectory_extractor" pkg="raspimouse_cartographer" type="trajectory_extractor"  output="screen" required="true" />
</launch>

